@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 17% 7%;
    --foreground: 228 33% 97%;

    --card: 233 11% 16%;
    --card-foreground: 228 33% 97%;

    --popover: 233 11% 16%;
    --popover-foreground: 228 33% 97%;

    --primary: 80 57% 51%;
    --primary-foreground: 0 0% 0%;

    --secondary: 233 11% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 6% 20%;
    --muted-foreground: 210 2% 65%;

    --accent: 233 11% 16%;
    --accent-foreground: 80 57% 51%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 233 11% 16%;
    --input: 233 11% 16%;
    --ring: 80 57% 51%;

    --chart-1: 80 57% 51%;
    --chart-2: 197 37% 24%;
    --chart-3: 43 74% 66%;
    --chart-4: 26.9 94.9% 61.8%;
    --chart-5: 12 76% 61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 17% 7%;
    --foreground: 228 33% 97%;

    --card: 233 11% 16%;
    --card-foreground: 228 33% 97%;

    --popover: 233 11% 16%;
    --popover-foreground: 228 33% 97%;

    --primary: 80 57% 51%;
    --primary-foreground: 0 0% 0%;

    --secondary: 233 11% 16%;
    --secondary-foreground: 228 33% 97%;

    --muted: 220 6% 20%;
    --muted-foreground: 210 2% 65%;

    --accent: 79.9 64.8% 41.2%;
    --accent-foreground: 228 33% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 233 11% 16%;
    --input: 233 11% 16%;
    --ring: 80 57% 51%;

    --chart-1: 80 57% 51%;
    --chart-2: 197 37% 24%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

a.active {
  color: hsl(var(--primary));
}
